{% extends 'layout.twig' %}

{% block content %}

<div id='calendar'></div>
<div id='newAppointment' class="sheet">
    <form id='newAppointmentForm' class="form-inline" role="form">
        <select id="client" class="form-control" name="client">
            {% include "helpers/clients.twig" %}
        </select>
        <select id="product" class="form-control" name="product">
            {% include "helpers/products.twig" %}
        </select>
        <input id="event" class="form-control" name="event" placeholder="Nome evento" style="display: none;">
    </br></br>
        <input name="date" type="text" class="form-control starting_date" placeholder="Data appuntamento">
        <input name="time" type="text" class="form-control timepicker" placeholder="Orario appuntamento">
    </br>
    <li role="separator" class="divider"></li>
        <input class="btn btn-success" type="submit" value="Crea appuntamento">
    </form>
</div>

<script type="text/javascript">
var events = '{{ appointments|e('js') }}';
    events = eval(events);

var formattedEvents = events.map(function(event){
    var startDate = new Date(event.date);
          endDate = new Date(startDate.getTime() + (parseFloat(event.product_duration)*60)*60000);
          birth = new Date(Date.parse(event.birth));
          age = (new Date(Date.now()).getFullYear() - birth.getFullYear())*12 + (new Date(Date.now()).getMonth() - birth.getMonth());

    switch (age) {
      case 0:
      case 1:
        color = 'rgb(146, 226, 244)';
        break;
      case  2:
      case  3:
        color = 'rgb(73, 197, 244)';
        break;
      case 4:
      case 5:
        color = 'rgb(28, 171, 226)';
        break;
      case 6:
      case 7:
        color = 'rgb(12, 130, 175)';
      case 8:
      case 9:
        color = 'rgb(15, 97, 129)';
        break;
      default:
        color = 'rgb(11, 67, 89)';
    }

    appForm = {
        age: age,
        backgroundColor: color,
        title: event.client_name+' '+event.product_name,
        start: startDate,
        end:endDate,
        allDay: false,
        url: '/appointments/'+event.uuid
    };
    return appForm;
});

$(document).ready(function()
{
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    var calendar = $('#calendar').fullCalendar(
    {
        weekends: true,
        hiddenDays: [0],
        editable: false,
        header:
        {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        defaultView: 'agendaWeek',
        selectable: true,
        selectHelper: true,
        select: function(start, end, allDay)
        {
            $('#newAppointment').show('slow');
            $overlay.height($(document).height());
            $('#overlay').show('fast');
            var minutes = '';
            var dateClicked = start.getFullYear()+'-'+(start.getMonth()+1)+'-'+start.getDate();
            $('.starting_date').val(dateClicked);

            if(start.getMinutes()==0){
                minutes = '00';
            }else{ minutes = start.getMinutes(); };

            if(start.getHours()==0){
                $('#client').hide();
                $('#product').hide();
                $('#event').show();
                $('.timepicker').val('All day event');
            }else{$('.timepicker').val(start.getHours()+':'+minutes);}
        },
        events: formattedEvents
    });
});

$("#newAppointmentForm").on('submit',(function(e) {
    console.log(new FormData(this));
    e.preventDefault();
    $.ajax({
        url: "/appointments/appointment",
        type: "POST",
        data: new FormData(this),
        contentType: false, // The content type used when sending data to the server.
        cache: false,
        processData:false, // To send DOMDocument or non processed data file it is set to false
        success: function(data)
        {
            console.log(data);
            alert('congratulations, you scheduled a new appointment :)');
            $('#newAppointment').hide('slow');
            $('#overlay').hide('fast');
            location.reload();
        }
    });
}));

$('.starting_date').click(function(){
    $('.starting_date').pickadate({
        clear: '',
        today: '',
        format: 'yyyy-mm-dd'
    });
});

$('.timepicker').pickatime({ format: 'H:i', interval: 5, min: [7,30], max: [18,0] });

</script>
<style type="text/css">
    #calendar
    {
        width: 900px;
        margin: 0 auto;
    }
</style>

{% endblock %}
