{% extends 'layout.twig' %}

{% block content %}

<div id='calendar'></div>
<div id='newAppointment'>
    <form id='newAppointmentForm' class="form-inline" role="form">
        <input class="form-control" name="client" placeholder="Nome Bambino">
        <input name="date" type="text" class="form-control starting_date" placeholder="Data appuntamento">
        <input class="form-control" name="product" placeholder="Trattamento">
    </br>
    <li role="separator" class="divider"></li>
        <input class="btn btn-success" type="submit" value="Crea appuntamento">
    </form>
</div>

<script type="text/javascript">

    /*
        jQuery document ready
    */

$(document).ready(function()
{
    /*
        date store today date.
        d store today date.
        m store current month.
        y store current year.
    */
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    /*
        Initialize fullCalendar and store into variable.
        Why in variable?
        Because doing so we can use it inside other function.
        In order to modify its option later.
    */

    var calendar = $('#calendar').fullCalendar(
    {
        weekends: false,
        editable: false,
        /*
            header option will define our calendar header.
            left define what will be at left position in calendar
            center define what will be at center position in calendar
            right define what will be at right position in calendar
        */
        header:
        {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        /*
            defaultView option used to define which view to show by default,
            for example we have used agendaWeek.
        */
        defaultView: 'agendaWeek',
        /*
            selectable:true will enable user to select datetime slot
            selectHelper will add helpers for selectable.
        */
        selectable: true,
        selectHelper: true,
        /*
            when user select timeslot this option code will execute.
            It has three arguments. Start,end and allDay.
            Start means starting time of event.
            End means ending time of event.
            allDay means if events is for entire day or not.
        */
        select: function(start, end, allDay)
        {
            /*
                after selection user will be promted for enter title for event.
            */
            $('#newAppointment').show('slow');
            $overlay.height($(document).height());
            $('#overlay').show('fast');
            /*
                if title is enterd calendar will add title and event into fullCalendar.
            */
            // {
            //     calendar.fullCalendar('renderEvent',
            //         {
            //             title: title,
            //             start: start,
            //             end: end,
            //             allDay: allDay
            //         },
            //         true // make the event "stick"
            //     );
            // }
            // calendar.fullCalendar('unselect');
        },
        /*
            editable: true allow user to edit events.
        */
        /*
            events is the main option for calendar.
            for demo we have added predefined events in json object.
        */
        events: [
            {
                title: 'All Day Event',
                start: new Date(y, m, 1)
            },
            {
                title: 'Long Event',
                start: new Date(y, m, d-5),
                end: new Date(y, m, d-2)
            },
            {
                id: 999,
                title: 'Repeating Event',
                start: new Date(y, m, d-3, 16, 0),
                allDay: false
            },
            {
                id: 999,
                title: 'Repeating Event',
                start: new Date(y, m, d+4, 16, 0),
                allDay: false
            },
            {
                title: 'Meeting',
                start: new Date(y, m, d, 10, 30),
                allDay: false
            },
            {
                title: 'Lunch',
                start: new Date(y, m, d, 12, 0),
                end: new Date(y, m, d, 14, 0),
                allDay: false
            },
            {
                title: 'Birthday Party',
                start: new Date(y, m, d+1, 19, 0),
                end: new Date(y, m, d+1, 22, 30),
                allDay: false
            },
            {
                title: 'Click for Google',
                start: new Date(y, m, 28),
                end: new Date(y, m, 29),
                url: 'http://google.com/'
            }
        ]
    });
});

$("#newAppointmentForm").on('submit',(function(e) {
    console.log(new FormData(this));
    e.preventDefault();
    $.ajax({
        url: "/appointments/appointment", // Url to which the request is send
        type: "POST",             // Type of request to be send, called as method
        data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
        contentType: false,       // The content type used when sending data to the server.
        cache: false,             // To unable request pages to be cached
        processData:false,        // To send DOMDocument or non processed data file it is set to false
        success: function(data)   // A function to be called if request succeeds
        {
            console.log(data);
            // $("#message").text(data);
            // $("#message").show('slow');
        }
    });
}));

$('.starting_date').data('value', "{{ "now"|date("m/d/Y") }}");
$('.starting_date').val("{{ "now"|date("m/d/Y") }}");
$('.starting_date').click(function(){
    $('.starting_date').pickadate({
        clear: '',
        today: '',
        format: 'yyyy-mm-dd'
    });
});

</script>
<style type="text/css">
    #calendar
    {
        width: 900px;
        margin: 0 auto;
    }
</style>

{% endblock %}
