.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top30 { margin-top:30px; }

.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom30 { margin-bottom:30px; }

.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left30 { margin-left:30px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right30 { margin-right:30px; }

.red{
    color: red;
}

.green{
    color: green;
}

.btn-default{
    background-image:linear-gradient(to bottom,rgb(206, 200, 245) 0,rgb(206, 200, 245) 100%);
    color: #fff;
    text-shadow: 0 1px 0 rgb(212, 212, 214);
    background-color: rgb(141, 170, 164);
    border-radius: 1px;
}

.btn-danger{
    background-image:linear-gradient(to bottom,rgb(237, 208, 200) 0,rgb(237, 208, 200) 100%);
    color: #fff;
    border: rgb(250, 208, 200);
    text-shadow: 0 1px 0 rgb(212, 212, 214);
    background-color: rgb(141, 170, 164);
    border-radius: 1px;
}

.btn-success{
    background-image:linear-gradient(to bottom,rgb(158, 237, 199) 0,rgb(158, 237, 199) 100%);
    color: #fff;
    text-shadow: 0 1px 0 rgb(212, 212, 214);
    background-color: rgb(141, 170, 164);
    border-radius: 1px ;
    border: rgb(250, 208, 200);
}

.fc-border-separate,
.fc-agenda-days{
    background-color: #fff;
}

.sheet{
    padding: 1em;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 8px 8px 1px rgba(0,0,0,0.05);
    max-width: 800px;
}

.sub-sheet{
    background-color: rgba(230, 235, 210,0.7);
    max-width: 600px;
}

.navbar{
    box-shadow: 8px 8px 1px rgba(0,0,0,0.05);
}

.my-navbar{
    background-color: rgba(217, 242, 246, 0.35);
}

body{
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    background-color: #5784cc;
    background-image: url('/img/logo.png');
    background-repeat: no-repeat;
    background-size:100%;
}

#body-cover{
    z-index: -1;
    padding-bottom: 100%;
    position: fixed;
    width: 100%;
    background-color: rgb(217, 242, 246);
    top:0;
    left:0;
    opacity: 0.8;
}

header{
    margin-bottom: 40px;
}

footer{
    margin-top: 80px;
}

.section{
    margin-top: 40px;
}

.explanationPanel {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 1em;
    width: 100%;
}

#newAppointment{
    display: none;
    position: fixed;
    width: 40%;
    height: 30%;
    top: 30%;
    left: 30%;
    text-align:center;
    z-index:10000;
}

#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
  z-index:1000;
}

.my-container{
    background-color: rgb(209, 225, 240);
    border: solid 2px rgb(236, 230, 231);
    margin: 10px 0;
    padding: 10px;
}

.space{
    height: 40px;
}

.navbarLogo{
    margin: 10px 20px 4px 0;
    padding: 0;
}

@media (max-width: 900px) {
  #calendar{
    width: 96% !important;
    margin: 2% !important;
  }

  .fc-header-center{
    display: none;
  }

  #newAppointment{
    width: 90%;
    left: 5%;
  }
}
