<header>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">BabyBubble</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if page == 'clients' %}class="active"{% endif %}><a href="/clients">Clients</a></li>
        <li {% if page == 'appointments' %}class="active"{% endif %}><a href="/appointments">Appointments</a></li>
        <li {% if page == 'promotions' %}class="active"{% endif %}><a href="/promotions">Promotions</a></li>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li {% if page == 'users' %}class="active"{% endif %}><a href="/users">Users</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="navbar-brand-logo">
    <a href="/"><img alt="BabyBubble" src="/img/logo.png" title="Crescere Digitale"></a>
</div>
</header>
