{% extends 'layout.twig' %}

{% block content %}
<style>
input.error {
    border: 1px solid #e80c4d;
    background-color: #f68bab;
}
input.success {
    border: 1px solid #66cc66;
    background-color: #b5f9af;
}
</style>

<div id="addANewUser" class="container sheet">
    <h3>New user Form</h3>
    <form role="form" method="post" action="">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" name="first_name" value="{{ user.first_name }}" required>
        </div>
        </br>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}" required>
        </div>
        </br>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-king"></span></span>
            <select id="role" class="form-control" name="role" required>
                <option value="ROLE_USER" {% if user.role == 'ROLE_USER' %}selected{% endif %}>Simple user</option>
                <option value="ROLE_ADMIN" {% if user.role == 'ROLE_ADMIN' %}selected{% endif %}>Admin user</option>
            </select>
        </div>
        </br>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" name="username"  value="{{ user.username }}">
        </div>
        </br>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-eye-open"></span></span>
            <input id="pass3" class="form-control" name='password' type='password' placeholder='New password' >
        </div>
        </br>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-eye-close"></span></span>
            <input id="pass4" class="form-control" name='password2' type='password' onkeyup="checkPass2(); return false;" placeholder="Confirm new password">
        </div>
        <span id="confirmMessage1" class="confirmMessage"></span>
        </br>
    </form>
    <div id="newUserInfo"></div>
    <button id="send1" class="btn btn-success">Submit</button>
</div>

<script>
    function checkPass2()
    {
        if($('#pass3').val() == $('#pass4').val()){
            $('#confirmMessage1').html("Passwords match!");
            $('#confirmMessage1').removeClass('error');
            $('#pass4').removeClass('error');
            $('#confirmMessage1').addClass('success');
            $('#pass4').addClass('success');
            $('#send1').removeClass('disabled');
        }else{
            $('#confirmMessage1').html("Passwords do not match");
            $('#confirmMessage1').removeClass('success');
            $('#pass4').removeClass('success');
            $('#confirmMessage1').addClass('error');
            $('#pass4').addClass('error');
            $('#send1').addClass('disabled');
        }
    };

    $('#send1').click(function() {
        if($(this).hasClass('disabled')) return false;
        var userData = {};
        $.each($('#addANewUser input'),function(){
            var fieldName = $(this).attr('name');
            var fieldValue = $(this).val();
            userData[fieldName] = fieldValue;
        });
        userData['role'] = $('#role').val();

       $.ajax({
          type: "POST",
          url: '/users/manage/'+'{{ user.uuid }}',
          data: userData,
          error: function(e) {
              console.log(e);
             $('#newUserInfo').html('<p>An error has occurred, please try again later.</p>');
          },
          success: function(data) {
              console.log(data);
              var text = '';
              var response = data;
              if(response == 0){
                  text = 'Sorry but the username is already taken.';
                  var description = '<p class="lastInfo" style="color:red;">'+text+'</p>';
              }else{
                  text = 'Congratulations, you successfully modified the user '+data+'.';
                  var description = '<p class="lastInfo" style="color:green;">'+text+'</p>';
              }
              $('.lastInfo').remove();
              $('#newUserInfo').append(description);
          }
       });
    });
</script>

{% endblock %}
