<option value="" selected>Durata del trattamento</option>
<option value="0.5">00:30h</option>
<option value="1.0">01:00h</option>
<option value="1.5">01:30h</option>
<option value="2.0">02:00h</option>
<option value="2.5">02:30h</option>
<option value="3.0">03:00h</option>
<option value="3.5">03:30h</option>
<option value="4.0">04:00h</option>
<option value="4.5">04:30h</option>
<option value="5.0">05:00h</option>
<option value="5.5">05:30h</option>
<option value="6.0">06:00h</option>
